# =========================
# Docker Registry 认证 Secret
# =========================
# GitHub Container Registry (ghcr.io) 认证配置

apiVersion: v1
kind: Secret
metadata:
  name: docker-registry-secret
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-image-updater
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "ghcr.io": {
          "username": "Johnny-dai-git",
          "password": "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",
          "auth": "Sm9obm55LWRhaS1naXQ6Z2hwX1NGNUxITFBnY29OVDlMQThSZFJ1ak5FVTFVNFJhTjIzOWRFeg=="
        }
      }
    }

