apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: llm-platform-services
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/Johnny-dai-git/llm-deployment.git
    targetRevision: main
    path: control/config/k8s/llm
  destination:
    server: https://kubernetes.default.svc
    namespace: llm
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

