apiVersion: v1
kind: Service
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/component: controller
spec:
  type: LoadBalancer                  # MetalLB will attach the external IP here
  externalTrafficPolicy: Local        # Preserve client source IP
  selector:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/component: controller
  ports:
    - name: http
      port: 80                        # Public HTTP entry
      targetPort: 80                  # Pod containerPort
      protocol: TCP
    - name: https
      port: 443                       # Public HTTPS entry
      targetPort: 443
      protocol: TCP

