apiVersion: v1
kind: Service
metadata:
  name: dcgm-exporter
  namespace: monitoring
  labels:
    app: dcgm-exporter
spec:
  type: ClusterIP
  selector:
    app: dcgm-exporter
  ports:
    - name: http
      port: 9400
      targetPort: 9400
      protocol: TCP

